---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>里奥梅西</b>，1987年6月24日出生于阿根廷圣菲省罗萨里奥，阿根廷职业足球运动员，司职前锋，现效力于美国职业足球大联盟的迈阿密国际足球俱乐部，亦担任球队队长。俱乐部方面，梅西于2000年进入拉玛西亚青训营。2004年，梅西与巴塞罗那足球俱乐部签下职业合同。2009年，梅西帮助巴萨加冕六冠王，个人首次荣膺金球奖。2011年，梅西帮助巴萨加冕五冠王。2012年，梅西以91粒正式比赛进球刷新足坛单一自然年进球纪录，连续第四年荣膺金球奖。2015年，梅西再度帮助巴萨加冕五冠王，个人第五次荣膺金球奖。2019年，梅西第六次荣膺金球奖。2021年，梅西自由加盟巴黎圣日耳曼足球俱乐部，同年第七次荣膺金球奖。2023年，梅西加盟迈阿密国际足球俱乐部同年第八次荣膺金球奖。国家队方面，梅西于2005年帮助阿根廷U20青年队夺得世青赛冠军。2008年，梅西帮助阿根廷国奥队夺得北京奥运会男足金牌。2014年，梅西帮助阿根廷国家队夺得世界杯亚军，个人荣膺世界杯金球奖。2021年，梅西帮助阿根廷国家队夺得美洲杯冠军。2022年，梅西帮助阿根廷国家队夺得世界杯冠军和欧美杯冠军，个人再度荣膺世界杯金球奖。2024年，梅西帮助阿根廷国家队再次夺得美洲杯冠军。
    </p>
    <p>
        <b>LEO MESSI</b>，Born on 24 June 1987 in Rosario, Santa Fe, Argentina, he is an Argentine professional footballer who plays as a striker and captain for Miami International Football Club of the United States Major League Soccer. On the club side, Messi entered the La Masia Academy in 2000. In 2004, Messi signed a professional contract with FC Barcelona. In 2009, Messi helped Barcelona win six titles and won the Ballon d 'Or for the first time. In 2011, Messi helped Barcelona win five titles. In 2012, Messi won the Ballon d 'Or for the fourth consecutive year, setting a new record for goals scored in a single natural year with 91 official goals. In 2015, Messi once again helped Barcelona crown five titles, and won the Ballon d 'Or for the fifth time. In 2019, Messi won the Ballon d 'Or for the sixth time.      
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://leo-10-neymar-slices.hf.space" theme_mode="light"></gradio-app>

<gradio-app src="https://leo-10-neymar-mattergpt-cpu.hf.space" theme_mode="light"></gradio-app>


<section>
    <h2>News超话 Supertalk</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
